<form action="/employees/create-account" method="post">    
    <div class="row">
        <div class="col">
            <input type="text" name="emp_name" class="form-control" placeholder="Employee Name">    
        </div>
        <div class="col">
            <input type="text" name="emp_id" class="form-control" placeholder="Employee ID">    
        </div>
    </div><br>
    <input type="email" name="email" class="form-control" placeholder="Enter email" required><br>
    <input type="password" name="password" class="form-control" placeholder="Password" required><br>
    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required><br>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>