<form action="/employees/sign-in" method="post">
    <input type="email" name="email" class="form-control" placeholder="Enter email"><br>
    <input type="password" name="password" class="form-control" placeholder="Password"><br>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>