<link rel="stylesheet" href="/CSS/error.css">
<h2 id="error">Error!</h2>
<p id="message">The password and confirm password that you have entered in the Sign Up form do not match! Please <a href="/">click here</a> to go back or Sign Up through below form.</p>
<div class="container">
    <div class="col-6 mx-auto">
        <%- include('Partials/signup') %>
    </div>
</div>
