<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create New Account | Sign Up</h2>
            <%- include('Partials/signup') %>
        </div>
        <div class="col">
            <h2>Existing Employee | Sign In</h2>
            <%- include('Partials/signin')  %>
        </div>
    </div>
</div>