<link rel="stylesheet" href="/CSS/success.css">
<br>
<h2 id="heading">Account Created Successfully</h2>
<p id="success">Your were successfully signed up for an account! <a href="/">Click here</a> to go back or Sign In from below!</p>
<div class="container">
    <div class="col-6 mx-auto">
        <%- include('Partials/signin') %>
    </div>
</div>